<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab 5 Book List</title>
</head>

<body>
<h1>Library Books</h1>
<p><a th:href="@{/}">
    <button type="button">&lt;&lt;</button>
</a></p>

<p>
    <a th:href="@{/cart}">View Cart</a>
</p>

<p>
    <a th:href="@{/cart/orders}">View Order History</a>
</p>

<div th:if="${errorMessage}" style="color: red; padding: 10px; margin-bottom: 10px;">
    <p th:text="${errorMessage}"></p>
</div>

<br/>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Copies</th>
        <th>Price</th>
        <th>Cart+</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <!-- Iterate over the 'books' model attribute -->
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.copies}">Copies</td>
        <td th:text="${'$' + book.price}">$0.00</td>
        <td><form th:action="@{/cart/add/{id}(id=${book.id})}" method="post">
            <button type="submit">Cart+</button></form></td>
        <td><a th:href="@{/books/edit/{id}(id=${book.id})}">
            <button type="button">Edit</button></a></td>
        <td><form th:action="@{/books/delete/{id}(id=${book.id})}" method="post">
            <button type="submit" style="color: white; background-color: red;">Delete</button></form>
        </td>
    </tr>


    </tbody>
</table>

<p><a th:href="@{/books/add}">
    <button type="button">Add Book</button>
</a></p>

</body>
</html>