<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Checkout Confirmation</h1>
<div>
    <p><strong>Order Date:</strong> <span th:text="${order.orderDate}"></span></p>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        <!-- Iterate over the 'books' model attribute -->
        <tr th:each="product : ${order.getProducts()}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${'$' + product.price}">$0.00</td>
        </tr>
        <tr>
            <td colspan="2">Total Amount</td>
            <td th:text="${'$' + order.totalAmount}">$0.00</td>
        </tr>

        </tbody>
    </table>

</div>
<br>
<form action="#" th:action="@{/cart/checkout}" th:object="${order}" method="post">
        <input type="hidden" th:field="*{totalAmount}" th:value="${order.totalAmount}"/>
        <input type="hidden" th:field="*{orderDate}" th:value="${order.orderDate}"/>
        <input type="hidden" th:field="*{products}" th:value="${order.products}"/>
    <button type="submit">Confirm</button>
</form>
<br>

<a th:href="@{/books}">Back to List</a>
</body>
</html>
